@tailwind base;
@tailwind components;
@tailwind utilities;

.animated_background {
    animation: background_animation 2s linear infinite;
    background-size: 150px;
}

.click_pop {
    animation: click_pop_animation 1s linear forwards;
}

.header {
    @apply text-7xl text-center bg-gradient-to-br drop-shadow-lg from-main to-main-medium text-transparent bg-clip-text
}

.header_nobg {
    @apply text-7xl text-center drop-shadow-lg text-transparent bg-clip-text
}

@keyframes background_animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 150px 150px;
    }
}

@keyframes click_pop_animation {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, calc(-50% - 25px));
    }
}